/**
 * Font Definitions for Simple Invitation Editor
 * All fonts are loaded from the plugin's assets/fonts directory
 */

@font-face {
    font-family: 'Aire Light Pro';
    src: url('../fonts/AireLightPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amostely Signature';
    src: url('../fonts/AmostelySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andellia Davilton';
    src: url('../fonts/AndelliaDavilton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angers Script';
    src: url('../fonts/AngersScriptTR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anthem Of The Angels';
    src: url('../fonts/AnthemOfTheAngels.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avant Garde';
    src: url('../fonts/AvantGarde.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blacksword';
    src: url('../fonts/Blacksword.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Breakfast And Chill';
    src: url('../fonts/BreakfastAndChill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CAC Champagne';
    src: url('../fonts/CACChampagne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candlescript';
    src: url('../fonts/Candlescript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darleston';
    src: url('../fonts/Darleston.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fenice';
    src: url('../fonts/FeniceRegularTR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fenice';
    src: url('../fonts/Fenice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flemish Script';
    src: url('../fonts/FlemishScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fragrance';
    src: url('../fonts/FragranceXRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kastangel';
    src: url('../fonts/Kastangel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Madina';
    src: url('../fonts/Madina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mokka';
    src: url('../fonts/MokkaSmallCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mussica Swash';
    src: url('../fonts/MussicaSwash.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Condensed';
    src: url('../fonts/NeutrafaceCondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface Condensed';
    src: url('../fonts/NeutrafaceCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/NexaLightTR.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimus Princeps';
    src: url('../fonts/OptimusPrinceps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimus Princeps';
    src: url('../fonts/OptimusPrinceps-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('../fonts/PerpetuaStd-Bold_ItalicTR.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Riesling';
    src: url('../fonts/Riesling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosellinda Alyamore';
    src: url('../fonts/RosellindaAlyamore-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Script';
    src: url('../fonts/SilkScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silmastin';
    src: url('../fonts/Silmastin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweety Lovers';
    src: url('../fonts/SweetyLovers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'University Roman';
    src: url('../fonts/UniversityRomanBoldLetPlain.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../fonts/VollkornSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../fonts/VollkornSC-Regular__bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('../fonts/VollkornSC-Regular__bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Yaquote Script';
    src: url('../fonts/YaquoteScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zalitta';
    src: url('../fonts/Zalitta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}